<a href="/dashboard">&larr; Voltar</a>

<div class="admin-title">
  <h2>Ver / Editar post</h2>

  <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btn-delete btn">
  </form>

</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

  <label for="title"><b>Titulo</b></label>
  <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>">

  <label for="body"><b>Conteudo</b></label>
  <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>

  <label><b>Categoria</b></label>
  <select name="category">
    <option value="">-- Nenhuma categoria --</option>

    <% categories.forEach(cat => { %>
      <option 
        value="<%= cat._id %>" 
        <%= data.category && data.category.toString() === cat._id.toString() ? "selected" : "" %>>
        <%= cat.name %>
      </option>
    <% }) %>
  </select>

  <label for="image"><b>Imagem</b></label>
  <input type="file" name="image" accept="image/*">

  <% if (data.image) { %>
    <p>Imagem atual:</p>
    <img src="/uploads/<%= data.image %>" width="200">
  <% } %>

  <input type="submit" value="Editar" class="btn">

</form>
